Repository jitendra-cognam/blended-jenkins-test: changes, and which Jenkins stages are due for each by the changed paths.
All: Build project1, Build project2

Jenkinsfile:

#!/usr/bin/env groovy

pipeline {
    agent any
    stages {
        stage('Build project1') {
            when {
                changeset "project1/**"
            }
            steps {
                build 'project1'
            }
        }
        stage('Build project2') {
            when {
                changeset "project2/**"
            }
            steps {
                build 'project2'
            }
        }
    }
}

created two sub projects and their Jenkinsfiles
  Jenkinsfile
  project1/Jenkinsfile
  project2/Jenkinsfile
Due: Build project1, Build project2

readme inside project1
  project1/README.md
Due: Build project1

minor
  project1/README.md
Due: Build project1

minor
  Jenkinsfile
Due: none

removed Jenkinsfile from root
  backup-Jenkinsfile
Due: none

readme inside project2
  project2/Readme.md
Due: Build project2

Adding #!/usr/bin/env groovy for syntax highlighting
  project1/Jenkinsfile
  project2/Jenkinsfile
  when-condition-jenkinsfile
Due: Build project1, Build project2

added post execution email in project1
  project1/Jenkinsfile
Due: Build project1

removed post execution emails due to authentication issues
  project1/Jenkinsfile
Due: Build project1

minor
  project1/Jenkinsfile
Due: Build project1

random string generator in groovy
  project1/Jenkinsfile
Due: Build project1

creating .env for docker
  project1/Jenkinsfile
Due: Build project1

modifying
  project1/Jenkinsfile
Due: Build project1
